aiogram
environs
pillow
Django
django-cors-headers
django-unfold
django-filter
markdown
passlib
SQLAlchemy
pytz
split-settings
pydantic-settings
psycopg2
psycopg2-binary
geopy
uvicorn
fastapi
pydantic
orjson